.event-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading {
  text-align: center;
}

.event-card {
  width: 300px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card h2 {
  margin-top: 0;
}

.event-type {
  font-style: italic;
}

.event-description {
  margin-bottom: 10px;
}

.event-date {
  font-size: 20px;
  color: #888;
  text-align: center;
}

.event-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}
